# Preprocessing School grades dataset

Here we will preprocess the school grades dataset present in ```./data/ideb_ensino_media_escolas_2021```

In [1]:
import json
import missingno
import matplotlib
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

# notebook only
%matplotlib inline

In [2]:
df = pd.read_csv('./data/ideb_ensino_medio_escolas_2021.csv')

In [3]:
df.head()

,SG_UF,CO_MUNICIPIO,NO_MUNICIPIO,ID_ESCOLA,NO_ESCOLA,REDE,VL_APROVACAO_2021_SI_4,VL_APROVACAO_2021_1,VL_APROVACAO_2021_2,TAXA_APROVACAO_3,VL_APROVACAO_2021_4,INDICADOR_REND_P,SAEB_MAT,SAEB_PORTUGUES,SAEB_MEDIA,IDEB
0,RO,1100015,Alta Floresta D'Oeste,11024682,EEEFM EURIDICE LOPES PEDROSO,Estadual,90.8,89.3,86.3,98.9,NaN,0.91,246.73,250.12,3.90,3.6
1,RO,1100015,Alta Floresta D'Oeste,11024968,EEEMTI JUSCELINO KUBITSCHEK DE OLIVEIRA,Estadual,98.9,98.6,98.4,100.0,NaN,0.99,298.17,302.78,5.41,5.4
2,RO,1100015,Alta Floresta D'Oeste,11025638,COLEGIO TIRADENTES DA POLICIA MILITAR NA CTPM XI,Estadual,83.7,85.9,82.4,81.4,NaN,0.83,NaN,NaN,NaN,NaN
3,RO,1100023,Ariquemes,11006773,EEEFM CORA CORALINA,Estadual,71.4,44.8,69.4,90.0,NaN,0.63,266.50,269.69,4.47,2.8
4,RO,1100023,Ariquemes,11006889,EEEFM ANISIO TEIXEIRA,Estadual,92.4,96.1,86.2,97.3,NaN,0.93,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19836 entries, 0 to 19835
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SG_UF                   19836 non-null  object
 1   CO_MUNICIPIO            19836 non-null  int64
 2   NO_MUNICIPIO            19836 non-null  object
 3   ID_ESCOLA               19836 non-null  int64
 4   NO_ESCOLA               19836 non-null  object
 5   REDE                    19836 non-null  object
 6   VL_APROVACAO_2021_SI_4  18022 non-null  float64
 7   VL_APROVACAO_2021_1     17919 non-null  float64
 8   VL_APROVACAO_2021_2     17899 non-null  float64
 9   TAXA_APROVACAO_3        18020 non-null  float64
 10  VL_APROVACAO_2021_4     663 non-null    float64
 11  INDICADOR_REND_P        18021 non-null  float64
 12  SAEB_MAT                7196 non-null   float64
 13  SAEB_PORTUGUES          7196 non-null   float64
 14  SAEB_MEDIA              7196 non-null   float64
 15  IDEB                    7195 non-null   float64
dtypes: float64(10), int64(2), object(4)
memory usage: 2.4+ MB

In [7]:
df.describe()

,CO_MUNICIPIO,ID_ESCOLA,VL_APROVACAO_2021_SI_4,VL_APROVACAO_2021_1,VL_APROVACAO_2021_2,TAXA_APROVACAO_3,VL_APROVACAO_2021_4,INDICADOR_REND_P,SAEB_MAT,SAEB_PORTUGUES,SAEB_MEDIA,IDEB
count,1.983600e+04,1.983600e+04,18022.000000,17919.000000,17899.000000,18020.000000,663.000000,18021.000000,7196.000000,7196.000000,7196.000000,7195.000000
mean,3.250009e+06,3.247224e+07,91.070775,91.429148,89.752964,92.530228,88.061237,0.909784,269.879047,274.485140,4.589059,4.395622
std,9.596903e+05,9.570837e+06,10.170695,10.458732,11.954284,9.973389,18.879162,0.103653,23.671422,21.684029,0.643789,0.700196
min,1.100015e+06,1.100026e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.190000,185.810000,190.660000,2.190000,1.400000
25%,2.609006e+06,2.609317e+07,87.000000,87.300000,84.700000,89.075000,83.900000,0.870000,254.355000,260.585000,4.170000,4.000000
50%,3.301702e+06,3.303018e+07,94.500000,95.200000,93.800000,96.300000,96.000000,0.940000,268.220000,273.720000,4.560000,4.400000
75%,3.557105e+06,3.592595e+07,98.700000,99.500000,99.100000,100.000000,100.000000,0.990000,283.562500,287.440000,4.970000,4.800000
max,5.300108e+06,5.306818e+07,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000,399.520000,363.710000,7.620000,7.600000